*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    background-color:white;
}
.start{
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
    align-items: center;
}
.youtubehome img{
    padding: 15px;
    height: 38px;
}
.center img{
    height: 30px;
    opacity: 5;
}
.end a{
    justify-content: space-between;
    text-decoration: none;
    font-weight: bold;
}